BasedOnStyle: Google
ColumnLimit: '160'
IndentWidth: '3'
TabWidth: '3'
UseTab: ForContinuationAndIndentation
NamespaceIndentation: All
SpaceAfterTemplateKeyword: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
SpacesInCStyleCastParentheses: 'false'
SpaceAfterCStyleCast: 'true'
BreakBeforeBraces: Attach
FixNamespaceComments: false
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowAllConstructorInitializersOnNextLine: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignOperands: true
AlignAfterOpenBracket: false
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentPPDirectives: BeforeHash