# Exclude all CMake build folders
build*/
build-vs22/
# Exlude dev stuff in root directory.
*.bat
*.li
!/tests/*.li
!/benchmarks/*.li
!/docs/examples/*.li
Lightning-VTune/
tests/.vscode/
web/li.js
web/li.wasm
web/docs/
tests/__pycache__/
discord-lang/
