# Exclude all CMake build folders
build*/

# Include the Visual Studio project files
!/build-vs22/
build-vs22/x64/
build-vs22/Win32/
build-vs22/.vs
build-vs22/*.user
build-vs22/enc_temp_folder/

# Exlude dev stuff in root directory.
*.bat
*.li
!/tests/*.li
Lightning-VTune/
tests/.vscode/
