name: CMake

on: [push, pull_request]

jobs:
  build:
    # Skip building pull requests from the same repository
    if: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository) }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # TODO: replace extra-cmake-flags with CMake presets
      matrix:
        target:
          - ubuntu
          - emscripten
          - windows
          - macos
        include:
          - target: ubuntu
            os: ubuntu-latest
            build-type: Release
            extra-cmake-flags: "-DCMAKE_CXX_FLAGS=\"-flto -Wno-attributes -msse4.2\""
          - target: emscripten
            os: ubuntu-latest
            build-type: Debug
            extra-cmake-flags: "-DCMAKE_CXX_FLAGS=\"-Wno-attributes\" -DCMAKE_TOOLCHAIN_FILE=\"$EMSDK/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake\""
          - target: windows
            os: windows-latest
            build-type: Release
          - target: macos
            os: macOS-latest
            build-type: Release
            extra-cmake-flags: "-D CMAKE_C_COMPILER=\"${{ runner.temp }}/llvm/bin/clang\" -D CMAKE_CXX_COMPILER=\"${{ runner.temp }}/llvm/bin/clang++\" -DCMAKE_CXX_FLAGS=\"-flto -Wno-attributes -msse4.2\""
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install ninja-build tool
      uses: seanmiddleditch/gha-setup-ninja@v3

    - name: Enable Developer Command Prompt
      if: ${{ runner.os == 'Windows' }}
      uses: ilammy/msvc-dev-cmd@v1.7.0

    - name: Set up emscripten
      if: ${{ matrix.target == 'emscripten' }}
      uses: mymindstorm/setup-emsdk@v11

    - name: Set up GCC
      if: ${{ matrix.target == 'ubuntu' }}
      uses: egor-tensin/setup-gcc@v1
      with:
        version: 11
        
    - name: Install LLVM and Clang
      if: ${{ matrix.target == 'macos' }}
      uses: KyleMayes/install-llvm-action@v1
      with:
        directory: ${{ runner.temp }}/llvm
        version: "14.0"
        
    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} ${{ matrix.extra-cmake-flags }}
        cmake --build build --config ${{ matrix.build-type }} --parallel
        cmake --install build --prefix build/install --config ${{ matrix.build-type }}
    
    - name: Test
      if: ${{ matrix.target != 'emscripten' }}
      run: |
        ctest --output-on-failure --test-dir build/tests -C ${{ matrix.build-type }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.event.repository.name }}-${{ matrix.target }}
        path: build/install/bin/*

    - name: Compress artifacts
      uses: vimtor/action-zip@v1
      with:
        files: build/install/bin/
        dest: ${{ github.event.repository.name }}-${{ matrix.target }}.zip

    - name: Release
      uses: softprops/action-gh-release@v1
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        prerelease: ${{ !startsWith(github.ref, 'refs/tags/v') || contains(github.ref, '-pre') }}
        files: ${{ github.event.repository.name }}-${{ matrix.target }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
